USE [master]
GO
/****** Object:  Database [GESTION_DE_STOCK]    Script Date: 16/06/2021 18:42:53 ******/
CREATE DATABASE [GESTION_DE_STOCK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTION_DE_STOCK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GESTION_DE_STOCK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GESTION_DE_STOCK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GESTION_DE_STOCK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTION_DE_STOCK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTION_DE_STOCK]
GO
/****** Object:  Table [dbo].[Affectation]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Affectation](
	[ID_Affectation] [int] IDENTITY(1,1) NOT NULL,
	[ID_Client] [int] NOT NULL,
	[ID_Produit] [int] NOT NULL,
	[Quantite_affectee] [int] NOT NULL,
 CONSTRAINT [PK_AFFECTATION] PRIMARY KEY CLUSTERED 
(
	[ID_Affectation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[ID_Categorie] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Categorie] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[ID_Categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Client] [nvarchar](250) NOT NULL,
	[Prenom_Client] [nvarchar](250) NOT NULL,
	[Adresse_Client] [nvarchar](250) NOT NULL,
	[Telephone_Client] [nvarchar](250) NOT NULL,
	[Pays_Client] [nvarchar](250) NOT NULL,
	[Ville_Client] [nvarchar](250) NOT NULL,
	[Email_Client] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[ID_Commande] [int] IDENTITY(1,1) NOT NULL,
	[DATE_Commande] [datetime] NOT NULL,
	[ID_Client] [int] NOT NULL,
	[Total_HT] [nvarchar](250) NULL,
	[TVA] [nvarchar](20) NULL,
	[Total_TTC] [nvarchar](250) NULL,
 CONSTRAINT [PK_Commande] PRIMARY KEY CLUSTERED 
(
	[ID_Commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details_Commande]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details_Commande](
	[IdDetail] [int] IDENTITY(1,1) NOT NULL,
	[ID_Commande] [int] NOT NULL,
	[ID_Produit] [int] NOT NULL,
	[Nom_Produit] [nvarchar](250) NOT NULL,
	[Quantite] [int] NOT NULL,
	[Prix] [nvarchar](250) NOT NULL,
	[Remise] [nvarchar](250) NOT NULL,
	[Total] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK__Details___BA1D96E4ECB1D0D7] PRIMARY KEY CLUSTERED 
(
	[IdDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[ID_Produit] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Produit] [nvarchar](250) NOT NULL,
	[Quantité_Produit] [int] NOT NULL,
	[Prix_Produit] [nvarchar](250) NOT NULL,
	[Image_Produit] [image] NOT NULL,
	[ID_Categorie] [int] NOT NULL,
	[ID_Type] [int] NULL,
	[Stock_Alerte] [int] NULL,
	[Date_Controle] [date] NULL,
	[NumInventaire] [nvarchar](250) NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[ID_Produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID_Type] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Type] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 16/06/2021 18:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[NomUtilisateur] [nvarchar](250) NOT NULL,
	[Mot_De_Passe] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Utilisateur] PRIMARY KEY CLUSTERED 
(
	[NomUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Affectation]  WITH CHECK ADD  CONSTRAINT [FK_Affectation_Client] FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Client] ([ID_Client])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Affectation] CHECK CONSTRAINT [FK_Affectation_Client]
GO
ALTER TABLE [dbo].[Affectation]  WITH CHECK ADD  CONSTRAINT [FK_Affectation_Produit] FOREIGN KEY([ID_Produit])
REFERENCES [dbo].[Produit] ([ID_Produit])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Affectation] CHECK CONSTRAINT [FK_Affectation_Produit]
GO
ALTER TABLE [dbo].[Commande]  WITH CHECK ADD  CONSTRAINT [FK_Commande_Client] FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Client] ([ID_Client])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Commande] CHECK CONSTRAINT [FK_Commande_Client]
GO
ALTER TABLE [dbo].[Details_Commande]  WITH CHECK ADD  CONSTRAINT [FK_Details_Commande_Commande] FOREIGN KEY([ID_Commande])
REFERENCES [dbo].[Commande] ([ID_Commande])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Details_Commande] CHECK CONSTRAINT [FK_Details_Commande_Commande]
GO
ALTER TABLE [dbo].[Details_Commande]  WITH CHECK ADD  CONSTRAINT [FK_Details_Commande_Produit] FOREIGN KEY([ID_Produit])
REFERENCES [dbo].[Produit] ([ID_Produit])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Details_Commande] CHECK CONSTRAINT [FK_Details_Commande_Produit]
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Categorie] FOREIGN KEY([ID_Categorie])
REFERENCES [dbo].[Categorie] ([ID_Categorie])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [FK_Produit_Categorie]
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Type] FOREIGN KEY([ID_Type])
REFERENCES [dbo].[Type] ([ID_Type])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [FK_Produit_Type]
GO
USE [master]
GO
